.circle-sign {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px var(--orange);
  position: absolute;
  top: 7px;
  left: -15px;
  z-index: 10;
  grid-column: 2;
  opacity: 0;
  display: none;
}

.newTurnSign {
  animation: circleSign 1s ease-out 0s;
}

@keyframes circleSign {
  0% {
    transform: scale(0.1);
    opacity: 0;
    filter: blur(0px);
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: scale(3); /* Stopniowe zmniejszenie skali */
    filter: blur(10px); /* Stopniowe zwiększenie rozmycia */
  }
  100% {
    transform: scale(4); /* Zmniejszenie skali do zera */
    opacity: 0; /* Zmniejszenie przezroczystości do zera */
    filter: blur(20px); /* Zwiększenie rozmycia do maksimum */
  }
}
