@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --black: #121212;
  --orange: #f28526;
  --main-colour: #939598;
  --dark-grey: #414042;

  --acalas: #aca687;
  --umza_brakin: #273a48;
  --raona: #b82c2c;
  --hess: #353531;
  --layao: #61663f;

  --ciecz: #324f8f;
  --krysztal: #7b1c43;
  --skala: #939598;
  --zelazo: #414042;

  --h1-letters: 30px;
  --h2-letters: 18px;
  --h3-leeters: 12px;
  --drop-shadow-item: drop-shadow(10px 10px 8px #00000080)
    drop-shadow(-4px -4px 4px #ffffff08);
  --super-small-drop-shadow-item: drop-shadow(9px 9px 5px #000000)
    drop-shadow(-4px -4px 4px #ffffff10);
  --drop-shadow-hover: drop-shadow(19px 17px 12px #000000)
    drop-shadow(-12px -12px 8px #ffffff10);
  --drop-shadow-active: drop-shadow(2px 2px 3px #000000)
    drop-shadow(-2px -2px 3px #ffffff30);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
  color: var(--main-colour);
}

h1 {
  font-size: var(--h1-letters);
  color: var(--main-colour);
}

h2 {
  font-size: var(--h2-letters);
  color: var(--main-colour);
}

h3 {
  font-size: var(--h3-letters);
  color: var(--main-colour);
}

/* MAIN DATA */
.ciecz {
  background-color: var(--ciecz);
}

.krysztal {
  background-color: var(--krysztal);
}

.skala {
  background-color: var(--skala);
}

.zelazo {
  background-color: var(--zelazo);
}

.testBTN1 {
  position: absolute;
  top: 10px;
  left: 10px; /* możesz ustawić według potrzeby */
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #1d1d1d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.testBTN2 {
  position: absolute;
  top: 100px;
  left: 10px; /* możesz ustawić według potrzeby */
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #1d1d1d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.testBTN3 {
  position: absolute;
  top: 200px;
  left: 10px; /* możesz ustawić według potrzeby */
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #1d1d1d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* --------------------- */
/* --------------------- */
/* --------------------- */

.screen {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  transition: 0.3s;
}

/* --------------------- */
/* SEGMENTS */
/* kazdy screen składa się z pionowych segmentów - elementów */
.segment {
  border: solid 1px rgba(255, 0, 0, 0.164);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h100 {
  height: 100%;
}

.h60 {
  height: 60%;
}

.h55 {
  height: 55%;
}

.h50 {
  height: 50%;
}

.h45 {
  height: 40%;
}

.h40 {
  height: 40%;
}

.h35 {
  height: 35%;
}

.h30 {
  height: 30%;
}

.h20 {
  height: 20%;
}

.h15 {
  height: 15%;
}

.h10 {
  height: 10%;
}

/* --------------------- */
/* VISIBILITY */

.active {
  display: flex;
  transform: translateX(0%);
}

.no-active {
  display: none;
}

.hide-left {
  transform: translateX(-100%);
}

.hide-right {
  transform: translateX(100%);
}

.hide-down {
  transform: translateY(200px);
}

.btn-inactive {
  color: var(--zelazo);
  border: var(--zelazo) 1px solid;
  opacity: 0.5;
}

.btn-active {
  color: var(--main-colour);
  border: var(--main-colour) 1px solid;
  opacity: 1;
}

/* --------------------- */
/* BTNS */

.btn {
  filter: var(--drop-shadow-item);
  background-color: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-colour);
  cursor: pointer;
  transition: ease 0.4s;
  user-select: none;
}

.selected {
  filter: var(--drop-shadow-active);
  transform: scale(0.92);
  color: var(--main-colour);
}

.btn-big {
  width: 240px;
  height: 80px;
  border-radius: 35px;
  margin: 5px;
}

.btn-half {
  width: 10px;
  height: 80px;
  border-radius: 35px;
  margin: 5px;
}

.btn-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.go-back-svg {
  fill: var(--main-colour);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

/* --------------------- */
/* OTHERS (in create screens) */
.segment-join-player {
  z-index: 9;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
}

.segment-join-player.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.input {
  font-family: "bebas neue";
  color: var(--main-colour);
  text-align: center;
  font-size: var(--h1-letters);
  border-radius: 5px;
  width: 300px;
  height: 50px;
  outline: none;
  border: 1px solid var(--main-colour);
  background-color: var(--black);
}

.name-game-input {
  background-color: var(--black);
  z-index: 20;
}

.input-disabled-style {
  /* Usuwa obramowanie */
  border: none !important;

  /* Opcjonalnie: usuwa tło i zmienia kursor */
  background-color: transparent;
  cursor: default;

  /* Opcjonalnie: usuwa obramowanie po kliknięciu/focusie */
  outline: none;
}

.invalid {
  animation: shake 0.15s ease-in-out 0s;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -7px;
  }
  75% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0;
  }
}

/* FIRST SCREEN */
.circle-container {
  display: flex;
  width: 300px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.warning-container {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-element {
  color: var(--zelazo-colour);
  z-index: 9;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none; /* Element nie przeszkadza w klikaniu, gdy jest ukryty/animowany */
}

.warning-element.active {
  transform: translateY(0px); /* Zjeżdża na swoje miejsce */
  opacity: 1; /* Staje się widoczny */
}

/* CHAIR SCREEN */

.table {
  border: 1px white solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.chair {
  border: 1px white dashed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin: 20px; /* Dodanie marginesu 20px */
  cursor: pointer;
}

.acalas {
  background-color: var(--acalas);
}

.umza {
  background-color: var(--umza_brakin);
}

.raona {
  background-color: var(--raona);
}

.hess {
  background-color: var(--hess);
}

.layao {
  background-color: var(--layao);
}

/* .avatars-container {
  background-color: var(--black);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  display: none;
}

.avatar {
  width: 80vw;
  height: 100px;
  margin: 10px;
} */

/* .icon.one {
  transform: translateY(0px);
}

.icon.two {
  transform: translateY(80px);
}

.icon.three {
  transform: translateY(160px);
}

.icon.four {
  transform: translateY(240px);
}

.icon.five {
  transform: translateY(320px);
}

.icon-up {
  transform: translateY(0px) !important;
} */

.pin-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
}

.keyboard {
  position: absolute;
  border: red solid 1px;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s ease;
}

.key {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  border: var(--main-colour) 1px solid;
  filter: none;
}

.key.null {
  opacity: 0;
}

.delete-svg {
  transform: translateY(1px) translateX(-1px) scale(0.8);
  width: 25px;
  height: 25px;
  fill: var(--main-colour);
}

/* PIN-SCREEN */

.el-visible {
  transform: translateY(0px);
}

.el-invisible {
  transform: translateY(calc(100vh - 240px + 140px));
}

.pin-dots {
  display: flex;
  justify-content: center;
}

.pin-dot {
  border: var(--main-colour) 1px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 5px;
}

/* Choose Character-SCREEN */
.characters-container {
  z-index: 10;
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.character-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.circle-character {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: ease-in-out 0.8s;
}

.character-name {
  display: inline;
  margin-left: 10px;
}

/* -------------- */

/* MENU */

.game-menu-bar {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100vw;
  display: none;
  z-index: 100;
}

.game-menu-btn {
  width: 80px;
  height: 80px;
  transition: 1s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.svg-icon svg path,
.game-menu-btn svg path {
  fill: var(--main-colour);
}

.testBTN {
  z-index: 20;
  position: absolute;
  top: 100px;
  opacity: 0.4;
  cursor: pointer;
}

.svg-icon svg,
.game-menu-btn svg {
  width: 20px;
  height: 20px;
}

.selected svg path {
  fill: var(--orange);
}

.key.del {
  background-color: #1f1f1f;
}

/* efekt dla przycisku .del – nie zmienia fill */
.btn.del.selected svg path {
  fill: inherit; /* lub np. var(--main-colour) jeśli chcesz konkretnie */
}

.game-menu-btn.turn {
  left: 10vw;
}
.game-menu-btn.home {
  left: 10vw;
}
.game-menu-btn.buildings {
  right: 50%;
  transform: translateX(50%);
}
.game-menu-btn.exchange {
  right: 10vw;
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* REST */
#main-bg-img {
  height: 100vh;
  position: absolute;
  opacity: 0.2;
}

#main-logo svg {
  transform: scale(3);
  fill: var(--orange);
  margin-bottom: 50px;
}

#main-label {
  font-family: "Poiret One", sans-serif;
  margin-bottom: 50px;
  font-size: var(--h1-letters);
}

.shadow-element {
  filter: var(--drop-shadow-item);
  background-color: var(--black);
  border-radius: 25px;
  margin: 10px;
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* GAME */

.top-bar {
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  top: 0;
  padding-right: 40px;
  padding-left: 20px;
}

.token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  height: 100%;
  /* width: 10%; */
}

.token-container svg {
  width: 15px;
  height: 15px;
  fill: var(--orange);
  margin: 5px;
  transform: translateY(2px);
}

.turn-screen {
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: top;
  align-content: center;
}

.price-container,
.danina-container {
  /* height: 200px;
  width: 140px; */
  display: flex;
  padding: 10px;
  background-color: var(--black);
}

.price-container-half {
  height: 200px;
  width: 140px;
}

.price-container-full {
  height: 200px;
  width: 300px;
}

.btn-full {
  width: 300px;
  height: 70px;
}

.btn-half {
  width: 140px;
  height: 70px;
}

.bar-container h2 {
  margin-top: 5px;
}

/* --------------------- */
/* TURN screen */

.small-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-circle img {
  width: 14px;
  height: 14px;
}

.bar-container {
  width: 50px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  transition: 1s ease;
  /* border: 1px solid white; */
}

.value-container {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.measure {
  height: calc(100% - 85px);
  margin: 10px;
  width: 2px;
  border-radius: 20px;
}

.bar-value {
  margin: 5px;
  width: 25px;
  height: 25px;
  color: var(--main-colour);
  display: flex;
  justify-content: center;
}

.ciecz .dot {
  background-color: var(--ciecz);
}

.krysztal .dot {
  background-color: var(--krysztal);
}

.skala .dot {
  background-color: var(--skala);
}

.zelazo .dot {
  background-color: var(--zelazo);
}

/* --------------------- */
/* MEDIA */

@media (min-width: 450px) {
  .screen,
  .game-menu-bar {
    width: 450px;
  }
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* ANIMATIONS */

.circle-sign {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px var(--orange);
  position: absolute;
  top: 5px;
  left: 11vw;
  z-index: 10;
  opacity: 0;
  display: none;
}

.newTurnSign {
  animation: circleSign 1s ease-out 0s;
}

@keyframes circleSign {
  0% {
    transform: scale(0);
    opacity: 0;
    filter: blur(0px);
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: scale(5); /* Stopniowe zmniejszenie skali */
    filter: blur(10px); /* Stopniowe zwiększenie rozmycia */
  }
  100% {
    transform: scale(6); /* Zmniejszenie skali do zera */
    opacity: 0; /* Zmniejszenie przezroczystości do zera */
    filter: blur(20px); /* Zwiększenie rozmycia do maksimum */
  }
}
