@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --black: #121212;
  --orange: #f28526;
  --main-colour: #939598;
  --dark-grey: #414042;

  --acalas: #aca687;
  --umza_brakin: #273a48;
  --raona: #b82c2c;
  --hess: #353531;
  --layao: #61663f;

  --ciecz: #324f8f;
  --krysztal: #7b1c43;
  --skala: #939598;
  --zelazo: #414042;

  --h1-letters: 40px;
  --h2-letters: 18px;
  --h3-leeters: 12px;
  --drop-shadow-item: drop-shadow(15px 15px 10px #000000)
    drop-shadow(-8px -8px 6px #ffffff10);
  --super-small-drop-shadow-item: drop-shadow(9px 9px 5px #000000)
    drop-shadow(-4px -4px 4px #ffffff10);
  --drop-shadow-hover: drop-shadow(19px 17px 12px #000000)
    drop-shadow(-12px -12px 8px #ffffff10);
  --drop-shadow-active: drop-shadow(4px 4px 4px #000000)
    drop-shadow(-3px -3px 4px #ffffff30);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Bebas Neue", sans-serif;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
  color: var(--main-colour);
}

h1 {
  font-size: var(--h1-letters);
  margin: 30px;
}

h2 {
  font-size: var(--h2-letters);
}

h3 {
  font-size: var(--h3-letters);
}

.BG {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  /* overflow: hidden; */
}

.message-container {
  transform: translateY(-200px);
  border: #7b1c43 1px solid;
  position: absolute;
  width: 100vw;
  height: 100px;
  transition: ease 1s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.active {
  transform: translateX(0%);
}

.no-active {
  transform: translateX(100%);
}

.btn-visible {
  transform: translateY(0px);
}

.btn-invisible {
  transform: translateY(100vh);
}

.el-visible {
  transform: translateY(0px);
}

.el-invisible {
  transform: translateY(calc(100vh - 240px + 140px));
}

.screen {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  transition: ease 0.3s;
  display: none;
  /* overflow-y: hidden; */
}

.main-screen {
  display: flex;
}

.top-bar {
  height: 100px;
  width: 100vw;
  /* border: #b82c2c 1px solid; */
  display: flex;
  align-items: center;
}

.main-content {
  position: relative;
  height: 300px;
  width: 300px;
  /* border: #b82c2c 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.next-join-game-screen .main-content {
  height: 150px;
}

.menu-bar {
  height: 140px;
  width: 300px;
  /* border: #b82c2c 1px solid; */
  display: flex;
  justify-content: center;
}

.btn {
  filter: var(--drop-shadow-item);
  background-color: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-colour);
  cursor: pointer;
  transition: ease 0.3s;
  user-select: none;
}

.btn:hover {
  filter: var(--drop-shadow-hover);
}

.btn.selected:hover {
  filter: var(
    --drop-shadow-active
  ); /* lub inna wartość, aby anulować efekt hover */
}

.selected {
  filter: var(--drop-shadow-active);
}

.selected svg path {
  fill: var(--orange);
}

.go-back,
.go-home {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
}

.go-back img,
.go-home img {
  width: 20px;
}

.btn-big {
  width: 100px;
  height: 100px;
}

.btn-small {
  width: 60px;
  height: 60px;
}

.btn-super-small {
  width: 50px;
  height: 50px;
  filter: var(--super-small-drop-shadow-item);
}

.new-game-BTN {
  transform: translateY(-30px);
}

.label {
  margin: 15px;
}

.circle-container {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.input {
  font-family: "bebas neue";
  color: var(--main-colour);
  text-align: center;
  font-size: var(--h1-letters);
  border-radius: 5px;
  width: 300px;
  height: 50px;
  outline: none;
  border: 1px solid var(--main-colour);
  background-color: var(--black);
}

.invalid {
  animation: shake 0.15s ease-in-out 0s;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -7px;
  }
  75% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0;
  }
}

/* PLAYERS */
.final-new-game-screen .container {
  position: relative;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #B82C2C 1px solid; */
}

.table {
  border: 1px white solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.chair {
  border: 1px white dashed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin: 20px; /* Dodanie marginesu 20px */
  cursor: pointer;
  display: block;
}

.acalas {
  background-color: var(--acalas);
}

.umza {
  background-color: var(--umza_brakin);
}

.raona {
  background-color: var(--raona);
}

.hess {
  background-color: var(--hess);
}

.layao {
  background-color: var(--layao);
}

.avatars-container {
  border: #b82c2c 1px solid;
  background-color: var(--black);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.avatar {
  width: 80vw;
  height: 100px;
  margin: 10px;
}

.icon-container {
  /* border: #aca687 solid 1px; */
  position: relative;
  height: 400px;
  width: 100px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 15px; /* Dodanie marginesu 20px */
  cursor: pointer;
  transition: ease 0.5s;
  position: absolute;
}

.icon.one {
  transform: translateY(0px);
}

.icon.two {
  transform: translateY(80px);
}

.icon.three {
  transform: translateY(160px);
}

.icon.four {
  transform: translateY(240px);
}

.icon.five {
  transform: translateY(320px);
}

.icon-up {
  transform: translateY(0px) !important;
}


.pin-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
  width: 100%;
  height: 100%;
}

/* PLAYER SCREEN */
.game-screen {
  background-color: #b1b9bd;
  color: #1f1f1d;
}

.game-top-bar {
  border: #4c5d65 5px solid;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.notification-container {
  position: relative;
  width: calc(100vw - 60px);
  transform: translateY(50%);
  height: 50vh;
  overflow: hidden;
  border: #273a48 1px SOLID;
}

.notification {
  position: absolute;
  border: #b82c2c 1px solid;
  transition: 0.5s ease;
}

.deck {
  background-color: var(--black);
  position: absolute;
  z-index: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 50vh; */
  transform: translateY(0px);

  transition: 0.23 ease;
  /* transform: translateY(calc(20 * 3)); */
}

.deck h2 {
  color: var(--main-colour);
  margin-top: 10px;
}

.deck-prices {
  border-radius: 40px 40px 0 0;
  margin-top: 50vh;
  height: 50vh;
}

.deck-user {
  height: 100vh;
  transform: translateY(0);
  border-radius: 0px 0px 0 0;
}

.deck-active {
  transform: translateY(0%);
  transition: 0.4s ease;
  display: flex;
}

.deck-inactive {
  transform: translateY(100%);
  transition: 0.4s ease;
}

.game-menu-bar {
  position: absolute;
  bottom: 10px;
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.game-menu-btn {
  width: 100px;
  height: 100px;
  margin: 20px 30px;
}

.game-menu-btn svg {
  width: 30px;
  height: 30px;
}

.ciecz {
  background-color: var(--ciecz);
}

.krysztal {
  background-color: var(--krysztal);
}

.skala {
  background-color: var(--skala);
}

.zelazo {
  background-color: var(--zelazo);
}

.small-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-circle img {
  width: 18px;
  height: 18px;
}

.bars-container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.price-container,
.danina-container {
  margin: 20px 30px 180px 30px;
  height: calc(100% - 200px);
  width: 35vw;
}

.bar-container {
  width: 50px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  transition: 1s ease;
}

.value-container {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.value-container h2 {
  margin: -3px 3px 0px 0px;
}

.measure {
  height: calc(100% - 85px);
  margin: 10px;
  width: 2px;
  border-radius: 20px;
}

.bar-value {
  margin: 5px;
  width: 25px;
  height: 25px;
  color: var(--main-colour);
  display: flex;
  justify-content: center;
}

.separator {
  position: absolute;
  height: calc(100% - 200px);
  width: 1px;
  margin-bottom: 130px;
  background-color: var(--main-colour);
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* DU */

.du-all-containers {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.du-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.du-label-container {
  width: 40%;
  color: var(--main-colour);
}

.du-label-container h1 {
  margin-left: 20px;
}

.main-sources {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.du-title {
  margin: 0px;
  height: 10vh;
}
.du-buildings {
  height: 20vh;
}

.du-prices {
  height: 8vh;
}

.du-resources {
  height: 170px;
}

.du-value {
  height: 6vh;
}

.du-value .bar-label {
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.du-foot {
  height: 8vh;
}

.token-container {
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-container h1 {
  font-size: var(--h2-letters);
  margin: 10px;
  color: var(--main-colour);
}

.token svg {
  width: 30px;
  height: 30px;
}
.token svg path {
  fill: var(--orange);
}

.token-small svg {
  width: 15px;
  height: 15px;
}

.token-small svg path {
  fill: var(--orange);
}

.token-separator {
  height: 30px;
  width: 1px;
  background-color: var(--main-colour);
}

.du-prices.du-container {
  margin: 0;
}

.bar-label h2 {
  text-align: right;
  margin-right: -40px;
  width: 60px;
  margin-top: 0;
}

.resources-box {
  width: 32px;
  height: 115px;
  /* border: white 1px solid; */
  background-color: var(--black);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: end;
  align-items: center; /* Wyśrodkowanie kulek */
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 1px; /* Odstęp między kropkami */
}

.plus {
  color: white;
  position: absolute;
  font-size: 20px;
  width: 30px;
  height: 30px;
  bottom: 135px;
  right: -2px;
  z-index: 5;
  filter: drop-shadow(-2px 2px 5px #000000);
  opacity: 0;
}

.calculated-bar-value {
  font-size: 14px;
}

.ciecz .dot {
  background-color: var(--ciecz);
}

.krysztal .dot {
  background-color: var(--krysztal);
}

.skala .dot {
  background-color: var(--skala);
}

.zelazo .dot {
  background-color: var(--zelazo);
}

.SVG-exchange svg path {
  fill: white;
}

.SVG-exchange svg {
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* EXCHANGE */

.exchange-screen {
  display: none;
}

.e-container {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: #939598 1px solid; */
}

.e-elements {
  position: relative;
  width: 90vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: #4e6c98 1px solid; */
}

.e-source-btn{
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
}


.e-sell-input {
  outline: none;
  border: var(--main-colour) 1px solid;
  border-radius: 6px;
  width: 200px;
  height: 80px;
  margin: 10px;
  background-color: var(--black);
  color: var(--main-colour);
  text-align: center;
  font-size: var(--h1-letters);
  font-family: "Bebas Neue", sans-serif;
}

.e-sell-input::placeholder {
  font-size: 15px;
}

/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* MEDIA */

@media (min-width: 500px) {
  .du-all-containers,
  .game-top-bar,
  .deck,
  .game-menu-bar {
    width: 500px;
  }
  .notification-container {
    width: 440px;
  }
}
